@import url(/css/index.css);

:root {
  --beige-claro: #edebd3;
  --beige-oscuro: #a19e7f;
  --violeta-oscuro: #524080;
  --violeta-claro: #dad3ed;
  --blanco: #fffffc;
}
.Filtro-allProducts {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: flex-end;
  margin-top: 15px;
}
.filtro-productos {
  margin-right: 20px;
}

.bar-nav-productos{
  display: flex;
    justify-content: center;
    
}
.bar-nav-productos a {
text-decoration: none;
color: black;
}
.bar-nav-productos li {
  list-style:none;
  padding: 15px;
  border: 1px solid black;
margin-bottom: 20px;
border-radius: 4%;
}

.bar-nav-productos li:hover {
  border-radius: 10%;
  transition-duration: 250ms;
  box-shadow: inset 0px 0px 4px black;
}
.bar-nav-productos li:hover a {
  color: var(--violeta-oscuro)
  
}
