@import url(/css/normalize.css);
:root{
    --gris-claro:rgb(63, 59, 59) ;
}
/* -------------------------------------HEADER--------------------------------------------------- */
body{
    font-family: 'Noto Sans', sans-serif; 
    background-color: #bebebebe;
}
header{
    background-color: var(--gris-claro);
    width: 100vw;
}
.contenedor__logo img{
    width: 40%;
    
}
.contenedor__logo{
    display: flex;
    justify-content: center;
}
.header__nav-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.header__nav-superior i{
    color: white;
    font-size: 30px;
    padding: 10px;
}
.contenedor__buscador{
    position: relative;
    padding: 12px;
    width: 90%;
    text-align: center;
    margin: auto;
}
.contenedor__buscador input{
    padding: 12px;
    border-radius: 20px;
    border: none;
    width: 95%;
    line-height: 0;
}
.contenedor__buscador input::placeholder{
    padding-left: 29px;
    font-size: 17px;
    color: rgb(94, 94, 94);
}
.contenedor__buscador i{
    background-color: rgb(255, 255, 255);
    color: rgb(94, 94, 94);
    font-size: 17px;
    font-weight: bold;
    padding: 9px;
    border-radius: 20px;
    position: absolute;
    top: 16px;
}
/* -------------------------------------MAIN--------------------------------------------------- */

.banner-ofertas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding-bottom: 30px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px 0px black;
}
.banner__descuento{
    color: white;
    font-size: 40px;
    margin:9px 16px;
    
}
.banner__descripcion{
    color: white;
    font-size: 18px;
    margin-left:16px;
}
.banner__boton{
    color: white;
    background-color: black;
    padding: 12px;
    border: solid white 2px;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    border-radius: 25px;
}
.banner__img{
    width: 100%;
    height: 200px;
}
.banner-ofertas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__categorias{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__categorias div{
    margin: 10px 0;
    height: 150px;
    width: 46%;
    border-radius: 15px 0;
    box-shadow: 4px 2px 9px 0px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.main__categorias div p{
    text-align: center;
    padding-top: 67px;
    font-size: 23px;
    font-weight:500;
    text-shadow: 0px 0px 6px silver;
    
}
.categorias__1{
    background-image: url(/img/oficina.jpg);
    
}
.categorias__5{
    background-image: url(/img/gaming.jpg);
    
}
.categorias__2{
    background-image: url(/img/living.jpg);
    
}
.categorias__4{
    background-image: url(/img/vision.jpg);
    
}
.categorias__6{
    background-image: url(/img/dormitorio.avif);
    
}
.categorias__3{
    background-image: url(/img/cocina.jpg);
    
}