@import url(/css/normalize.css);
:root{
    --beige-claro:#edebd3;
    --beige-oscuro:#a19e7f;
    --violeta-oscuro:#524080;
    --violeta-claro:#dad3ed;
    --blanco:#fffffc;
    
}
/* -------------------------------------HEADER--------------------------------------------------- */
body{
    font-family: 'Noto Sans', sans-serif; 
    background-color: var(--beige-claro);
}
header{
    background-color: rgb(0 0 0);
    width: 100vw;
    margin-bottom: 20px;
    box-shadow: 0px 4px 7px 0px black;
}
.contenedor__logo img{
    width: 200px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}
.contenedor__logo{
    display: flex;
    justify-content: center;
}
.header__nav-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.header__nav-superior i{
    color: var(--beige-claro);
    font-size: 30px;
    padding: 10px;
}
.contenedor__buscador{
    position: relative;
    padding: 8px;
    width: 96%;
    text-align: center;
    margin: auto;
}
.contenedor__buscador input{
    padding: 12px;
    border-radius: 20px;
    border: none;
    width: 95%;
    line-height: 0;
}
.contenedor__buscador input::placeholder{
    padding-left: 29px;
    font-size: 17px;
    color: rgb(94, 94, 94);
}
.contenedor__buscador input:focus{
    outline: none;
}
.contenedor__buscador i{
    background-color: rgb(255, 255, 255);
    color: rgb(94, 94, 94);
    font-size: 17px;
    font-weight: bold;
    padding: 9px;
    border-radius: 20px;
    position: absolute;
    top: 12px;
}
.header__nav-inferior{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.header__nav-inferior ul{
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header__nav-inferior ul li{
    padding: 2px;
    color: var(--beige-oscuro);
    list-style: none;
}
.header__nav-inferior ul li a{
    color: var(--beige-oscuro);
    text-decoration: none;
}
/* -------------------------------------MAIN--------------------------------------------------- */
img{
    height: 100%
}
.banner-ofertas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background: linear-gradient(to bottom, black, var(--violeta-oscuro));
    padding-bottom: 30px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 7px 0px var(--violeta-oscuro);
}
.banner__descuento{
    color: #524080;
    font-size: 40px;
    margin:9px 16px;
    
}
.banner__descripcion{
    color: white;
    font-size: 18px;
    margin-left:16px;
}
.banner__boton{
    color: white;
    background-color: black;
    padding: 12px;
    border: solid white 2px;
    width: 50%;
    margin: 20px auto;
    border-radius: 25px;
    transition: all 0.2s;
}
.banner__boton:hover{
    border: solid #524080 2px;
    color: #524080;
}
.banner__img{
    width: 97%;
    height: 200px;
    box-shadow: 0px 3px 20px black;
    margin: auto;
}
.banner-ofertas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__categorias{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__categorias div{
    margin: 10px 0;
    height: 150px;
    width: 100%;
    border-radius: 15px 0;
    box-shadow: 4px 2px 9px 0px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.main__categorias div p{
    text-align: end;
    padding-top: 113px;
    padding-right: 15px;
    font-size: 23px;
    font-weight: 550;
    text-shadow: 3px 2px 4px black;
    color: silver;
}
.main__categorias a{
    text-decoration: none;
    width: 46%;
    height: 150px;
    margin: 10px 0;
}
.categorias__1{
    background-image: url(/img/oficina.jpg);
    
}
.categorias__5{
    background-image: url(/img/gaming.jpg);
    
}
.categorias__2{
    background-image: url(/img/living.jpg);
    
}
.categorias__4{
    background-image: url(/img/vision.jpg);
    
}
.categorias__6{
    background-image: url(/img/dormitorio.avif);
    
}
.categorias__3{
    background-image: url(/img/cocina.jpg);
    
}
.main__ultimo-ingresado{
    display: flex;
    margin: 10px auto;
    width: 95vw;
    height: 95vw;
    background-color: var(--blanco);
    box-shadow: 0px 2px 11px 1px #666;
}
.ultimo-ingresado__articulo{
    width: 80%;
    margin: auto;
    padding: 10px;
    border: solid grey 0.5px;
}
.ultimo-ingresado__articulo img{
    width: 100%;
}
.ultimo-ingresado__precio {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.ultimo-ingresado__precio p{
    font-size: 20px;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.ultimo-ingresado__precio h5{
    font-size: 18px;
    color: grey;
}
.main__ultimos-ingresos {
    width: 95%;
    height: 100%;
    background-color: var(--blanco);
    box-shadow: 0px 2px 11px 1px #666;
    margin: 10px auto;
}
.ultimos-ingresos__articulo {
    margin: 10px 10px;
    width: 40%;
    height: 53%;
    padding: 10px;
    box-shadow: 1px 1px 8px grey;  
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center; 
}
.ultimos-ingresos-img{
width: 100%;
height: 200px;
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
.main__titulo-cat{
    display: none;
}
.main-home h4{
    font-size: 24px;
    padding: 11px 10px;
    padding-bottom: 10px;
    color: var(--violeta-oscuro);
    background-color: var(--blanco);
    width: 95%;
    margin: auto;
    margin-bottom: -6px;
    margin-top: 20px;
    box-shadow:  0px -2px 11px 0px #666;
}
.ultimos-ingresos__precio{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.ultimos-ingresos__precio p{
    font-size: 20px;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.ultimos-ingresos__precio h5{
    font-size: 18px;
    color: grey;
}
.ultimos-ingresos__contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 98%;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}
.ultimos-ingresos__ver-mas a{
    text-decoration: none;
    color: var(--violeta-oscuro);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.main__mas-vendido {
    width: 95%;
    height: 100%;
    background-color: var(--blanco);
    box-shadow: 0px 2px 11px 1px #666;
    margin: 10px auto;
    margin-bottom: 40px;
}
.mas-vendido__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.mas-vendido__precio{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 80%;
}
.mas-vendido__precio p {
font-size: 20px;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.mas-vendido__precio h5{
    font-size: 18px;
    color: grey;
}
.main__mas-vendido article{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
    border-bottom: solid 0.5px grey;
}
.mas-vendido__imagen{
    max-width: 300px;
    padding: 10px 20px;
    width: 100%;
    border-right: solid grey 0.5px;
    height: 200px;
}
.main__mas-vendido img{
    width: 100%;
    height: 100%;
}
.mas-vendido__ver-mas{
    padding: 10px;
    text-align: end;
}
.mas-vendido__ver-mas a{
 text-decoration: none;
 color: var(--violeta-oscuro);
 display: flex;
 justify-content: space-between;
}
.main__ofertas{
    display: flex;
    margin: 10px auto;
    background-color: var(--blanco);
    width: 95vw;
    box-shadow: 0px 2px 11px 1px #666;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.main__ofertas article{
    padding: 11px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 5px auto;
    border-bottom: solid 0.5px grey;
}
.main__ofertas a{
    width: 30%;
}
.ofertas__imagen{
    width: 100%;
    border-right: solid 1px grey;
    padding: 0 10px;
    object-position: center;
}
.ofertas__imagen img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.ofertas__precio{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}
.ofertas__precio h5{
    font-size: 22px;
    color: grey;
}
.precio__efectivo{
    font-size: 24px;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.precio__descuento{
    color: var(--violeta-oscuro);
    font-weight: 700;
    font-size: 20px;
}
/* ------------------------------------------FOOTER--------------------------------------------------- */
footer{
    background-color: #000;
    width: 100vw;   
    padding: 15px; 
    height: 100%;
}
.section__contato{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-direction: column
}
.section__contato h4{
    color: var(--beige-claro);
    padding-bottom: 10px;
}
.section__contato a{
    text-decoration: none;
    padding: 5px;
    color: var(--violeta-oscuro);
}
.section__redes{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.section__redes h4{
    color: var(--beige-claro);
    padding: 15px;
}
.section__redes a{
    color: var(--violeta-oscuro);
    padding: 7px 8px;
    margin: 7px 8px;
}
.footer__copiright{
    font-size: 12px;
    border-top: 1px solid var(--beige-oscuro);
    color: var(--violeta-claro);
    text-align: center;
    padding-top: 15px;
}
/* #######################################tablet################################################ */
 @media (min-width: 685px) {
    .header__nav-inferior{
        display: flex;
    }
    .section__contato{
        flex-direction: row;
        font-size: 20px;
    }
    .section__contato h4{
        padding-bottom: 0px;
        padding: 5px;
    }
    .section__redes{
        justify-content: center;
    }
    .main__titulo-cat{
        display: block;
    }
    .main-home h4{
    font-size: 26px;
    padding: 30px 20px;
    padding-bottom: 10px;
    color: var(--violeta-oscuro);
    background-color: transparent;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: none;
    }
    .main__categorias {
        justify-content: space-evenly;
    }
    .main__categorias a{
        height: 110px;
        width: 110px;
        border-radius: 60px;
        margin: 10px 0;
    }
    .main__categorias div {
        height: 110px;
        width: 110px;
        border-radius: 60px;
    }
    .main__categorias div p {
    text-align: center;
    padding-top: 113px;
    padding-right: 0px;
    font-size: 19px;
    }
    .main__ultimos-ingresos {
        height: 100%;
    }
    .ultimos-ingresos__articulo{
        width: 36%;
        height: 43%;
        margin: 40px;
    }
    .ultimos-ingresos__contenedor{
        flex-direction: row;
    }
    .mas-vendido__contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .main__mas-vendido article {
        width: 30%;
        height: 100%;
        display: flex;
        margin: 5px auto;
        border: solid 0.5px grey;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .mas-vendido__imagen {
        border-right: none;
       }
    .main__ofertas article {
        width: 43%;
        border: solid 0.5px grey;
    }
 }


/* #######################################desktop################################################ */
@media (min-width: 920px) {
    .main__categorias a{
        width: 15%;
        height: 300px;
        border-radius: 30px 0;
    }
    .main__categorias div {
        height: 300px;
        width: 100%;
        border-radius: 30px 0;
    }
    .main__categorias div p {
        text-align: end;
        padding-top: 250px;
        padding-right: 8px;
        font-size: 24px;
    }
    .ultimos-ingresos__contenedor {
        display: flex;
        justify-content: center;
        width: 98%;
        height: 600px;
        align-content: flex-start;
        overflow: auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .ultimos-ingresos__articulo {
        width: 36%;
        height: 71%;
        margin: 40px;
    }
}