@import url(/css/normalize.css);
:root{
    --beige-claro:#edebd3;
    --beige-oscuro:#a19e7f;
    --violeta-oscuro:#524080;
    --violeta-claro:#dad3ed;
    --blanco:#fffffc;
    
}
/* -------------------------------------HEADER--------------------------------------------------- */
body{
    font-family: 'Noto Sans', sans-serif; 
    background-color: #ffe;
}
header{
    background-color: rgb(0 0 0);
    width: 100vw;
    box-shadow: 0px 4px 7px 0px black;
}
main{
    width: 100vw;
    overflow: hidden;
}
.contenedor__logo img{
    width: 200px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}
.contenedor__logo{
    display: flex;
    justify-content: center;
}
.header__nav-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.header__nav-superior i{
    color: var(--beige-claro);
    font-size: 30px;
    padding: 10px;
}

.contenedor__buscador{
    position: relative;
    padding: 8px;
    width: 96%;
    text-align: center;
    margin: auto;
}
.contenedor__buscador input{
    padding: 12px;
    border: none;
    width: 95%;
    line-height: 0;
    padding-left: 58px;
}
.contenedor__buscador button{
    position: absolute;
    left: 47px;
    top: 24px;
}
.contenedor__buscador input::placeholder{
    padding-left: 29px;
    font-size: 17px;
    color: rgb(94, 94, 94);
}
.contenedor__buscador input:focus{
    outline: none;
}
.contenedor__buscador i{
    background-color: rgb(255, 255, 255);
    color: rgb(94, 94, 94);
    font-size: 17px;
    font-weight: bold;
    padding: 9px;
    position: absolute;
    top: 12px;
    border-right: 1px solid grey;
    padding-right: 15px;
}
.header__nav-inferior{
    display: none;
}
.nav-inferior-show{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    flex-direction: column-reverse;
}
.header__nav-inferior ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    margin: auto;
}
.bar-inferior__izq{
    width: 90%;
}
.bar-inferior__der{
    width: 90%;
}
.header__nav-inferior ul li{
    padding: 16px 0;
    color: var(--beige-oscuro);
    list-style: none;
    border-top: solid 1px var(--beige-oscuro);
    width: 85%;
    text-align: center;
}
#id-Perfil{
    margin-left: 10px;
    border: none;
    position: relative;
    font-size: 25px;
    z-index: 1;
    background-color: #000;
    width: 100%;
}
.perfil-contenedor{
    position: relative;
}
.datos-contenedor{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 0px;
    right: 0px;
    color: var(--beige-claro);
    background: #000;
    padding: 10px;
    transition: all 0.5s;
    font-size: 16px;
}
.show__perfil-contenedor{
    top:76px;
}
.datos-contenedor a{
    text-decoration: none;
    color: var(--beige-claro);
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: solid 1px;
    width: 100%;
}
.datos-contenedor button{
    background: transparent;
    color: var(--beige-claro);
    border: none;
}

.header__nav-inferior ul li a{
    color: var(--beige-oscuro);
    text-decoration: none;
    cursor: pointer;
}
.bar-inferior__der-li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor__img-perfil{
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    margin-right: 9px;
    border-radius: 50%;
}
.contenedor__img-perfil img{
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
/* -------------------------------------MAIN--------------------------------------------------- */
img{
    height: 100%
}
.banner-ofertas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background: linear-gradient(to bottom, black, var(--violeta-oscuro));
    padding: 11px 0 30px;
    margin: 0 auto 15px;
    box-shadow: 0px 4px 7px 0px var(--violeta-oscuro);
    width: 100vw;
}
.banner__img{
    width: 96%;
    height: 211px;
    box-shadow: 0px 3px 20px black;
    margin: 10px auto;
    background-image: url(/img/banner-glems.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
}

.main__categorias{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__categorias div{
    margin: 10px 0;
    height: 150px;
    width: 100%;
    border-radius: 15px 0;
    box-shadow: 4px 2px 9px 0px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
.main__categorias div p{
    text-align: end;
    padding-top: 113px;
    padding-right: 15px;
    font-size: 23px;
    font-weight: 550;
    text-shadow: 3px 2px 4px black;
    color: silver;
}
.main__categorias a{
    text-decoration: none;
    width: 46%;
    height: 150px;
    margin: 10px 0;
}
.categorias__1{
    background-image: url(/img/oficina.jpg);
    
}
.categorias__5{
    background-image: url(/img/gaming.jpg);
    
}
.categorias__2{
    background-image: url(/img/living.jpg);
    
}
.categorias__4{
    background-image: url(/img/vision.jpg);
    
}
.categorias__6{
    background-image: url(/img/dormitorio.avif);
    
}
.categorias__3{
    background-image: url(/img/cocina.jpg);
    
}
.main__ultimo-ingresado{
    display: flex;
    margin: 10px auto;
    width: 95vw;
    background-color: var(--blanco);
    box-shadow: 2px 2px 11px 1px #666;
    border-radius: 0 0 15px 0;
    padding: 26px 0;
}
.ultimo-ingresado__articulo{
    width: 80%;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 9px 0 #999;
}
.ultimo-ingresado__articulo a{
    text-decoration: none;
}
.ultimo-ingresado-img{
    height: 70vw;
    width: 90%;
    margin: 25px auto;
}
.ultimo-ingresado__articulo img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.ultimo-ingresado__precio {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.ultimo-ingresado__precio p{
    font-size: 20px;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.precio-anterior {
    font-size: 0.8rem;
    font-style: unset;
    text-decoration: line-through;
    color: #9a93ad;
    font-weight: 600;
    padding-left: 5px;
}
.descuento__contenedor{
    color: var(--violeta-oscuro);
    font-size: 0.8rem;
}
.ultimo-ingresado__precio h5{
    font-size: 1.5rem;
    color: grey;
}
.main__ultimos-ingresos {
    width: 95%;
    height: 100%;
    background-color: var(--blanco);
    box-shadow: 2px 2px 11px 1px #666;
    margin: 10px auto;
    border-radius: 0 0 15px 0;
    position: relative;
}
.boton-carrusel-UA{
    display: none;
}
.ultimos-ingresos__articulo {
    margin: 10px 10px;
    width: 40%;
    padding: 10px;
    box-shadow: 1px 1px 8px grey;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.ultimos-ingresos-img{
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.main__titulo-cat{
    display: none;
}
.main-home h4{
    font-size: 24px;
    padding: 11px 10px;
    padding-bottom: 10px;
    color: var(--violeta-oscuro);
    background-color: var(--blanco);
    width: 95%;
    margin: auto;
    margin-bottom: -6px;
    margin-top: 20px;
    border-radius: 15px 0 0 0;
    box-shadow: 0px -2px 11px 0px #666;
}
.ultimos-ingresos__precio{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.ultimos-ingresos__precio p{
    font-size: 1rem;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.ultimos-ingresos__precio h5{
    font-size: 1rem;
    color: grey;
}
.ultimos-ingresos__contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 98%;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}
.ultimos-ingresos__ver-mas a{
    text-decoration: none;
    color: var(--violeta-oscuro);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.main__mas-vendido article:hover{
    z-index: 2;
    transform: scale(105%);
}
.main__mas-vendido {
    width: 95%;
    height: 100%;
    background-color: var(--blanco);
    box-shadow: 2px 2px 11px 1px #666;
    margin: 10px auto;
    margin-bottom: 40px;
    border-radius: 0 0 15px 0;
}
.mas-vendido__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.mas-vendido__contenedor a{
    width: 50%;
}
.mas-vendido__precio{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 80%;
}
.mas-vendido__precio p {
font-size: 1rem;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.mas-vendido__precio h5{
    font-size: 1rem;
    color: grey;
}
.main__mas-vendido article{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px auto;
    border-bottom: solid 0.5px grey;
}
.mas-vendido__imagen{
    padding: 10px 20px;
    width: 100%;
    border-right: solid grey 0.5px;
}
.main__mas-vendido img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mas-vendido__ver-mas{
    padding: 10px;
    text-align: end;
}
.mas-vendido__ver-mas a{
 text-decoration: none;
 color: var(--violeta-oscuro);
 display: flex;
 justify-content: space-between;
}
.main__ofertas{
    display: flex;
    margin: 10px auto;
    background-color: var(--blanco);
    width: 95vw;
    box-shadow: 2px 2px 11px 1px #666;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 40px;
    border-radius: 0 0 15px 0;
    padding: 20px 0;
}
.main__ofertas article{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 5px auto;
    border-bottom: solid 0.5px grey;
}
.main__ofertas article:hover{
    transform: scale(105%);
}
.main__ofertas a{
    width: 50%;
}
.ofertas__imagen{
    padding: 10px 20px;
    width: 100%;
    border-right: solid #bebebe 1px
}
.ofertas__imagen img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}
.ofertas__precio{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    width: 45%;
}
.ofertas__precio h5{
    font-size: 1.2rem;
    color: grey;
    padding: 0 0 25px 0;
}
.precio__efectivo{
    font-size: 24px;
    color: var(--beige-oscuro);
    font-weight: 600;
}
.precio__descuento{
    color: var(--violeta-oscuro);
    font-weight: 700;
    font-size: 20px;
}
/* ------------------------------------------FOOTER--------------------------------------------------- */
footer{
    background-color: #000;
    width: 100vw;   
    padding: 15px; 
    height: 100%;
}
.section__contato{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-direction: column
}
.section__contato h4{
    color: var(--beige-claro);
    padding-bottom: 10px;
}
.section__contato a{
    text-decoration: none;
    padding: 5px;
    color: var(--violeta-oscuro);
}
.section__contato a:hover{
    color: var(--beige-oscuro);
}
.section__redes{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.section__redes h4{
    color: var(--beige-claro);
    padding: 15px;
}
.section__redes a{
    color: var(--violeta-oscuro);
    padding: 7px 8px;
    margin: 7px 8px;
}
.section__redes a:hover{
    color: var(--beige-oscuro);
}
.footer__copiright{
    font-size: 12px;
    border-top: 1px solid var(--beige-oscuro);
    color: var(--violeta-claro);
    text-align: center;
    padding-top: 15px;
}
/* #######################################tablet################################################ */
 @media (min-width: 685px) {
    .header__nav-inferior ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
        align-items: center;
        flex-wrap: nowrap;
        margin: 0 5px ;
    }

    .header__nav-inferior {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
        flex-direction: row;
    }
    .header__nav-inferior ul li {
        padding: 2px;
        color: var(--beige-oscuro);
        list-style: none;
        border-top: none;
    }
    .show__perfil-contenedor{
        top: 50px;;
    }
    .bar-inferior__izq{
        width: 240px;
    }
    .bar-inferior__der{
        width: 380px;
    }
    .banner__img {
        width: 96%;
        height: 350px;
    }
    .section__contato{
        flex-direction: row;
        font-size: 20px;
    }
    .section__contato h4{
        padding-bottom: 0px;
        padding: 5px;
    }
    .section__redes{
        justify-content: center;
    }
    .main__titulo-cat{
        display: block;
    }
    .main-home h4{
    font-size: 26px;
    padding: 30px 20px;
    padding-bottom: 10px;
    color: var(--violeta-oscuro);
    background-color: transparent;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    box-shadow: none;
    }
    .main__categorias {
        justify-content: space-evenly;
    }
    .main__categorias a{
        height: 110px;
        width: 110px;
        border-radius: 60px;
        margin: 10px 0;
    }
    .main__categorias div {
        height: 110px;
        width: 110px;
        border-radius: 60px;
    }
    .main__categorias div p {
    text-align: center;
    padding-top: 113px;
    padding-right: 0px;
    font-size: 19px;
    }
    .main__ultimo-ingresado{
        background-color: transparent;
        box-shadow: none;
    }
    .ultimo-ingresado__articulo {
        background-color: var(--blanco);
        width: 75%;
    }
    .ultimo-ingresado-img {
        height: 50vw;
        width: 70%;
    }
    .main__ultimos-ingresos {
        height: 100%;
        border-radius: 15px 0 15px 0;
    }
    .ultimos-ingresos__articulo{
        width: 45%;
        height: 400px;
        margin: 19px 7px;
    }
    .ultimos-ingresos__articulo:hover{
        transform: translateY(-10px);
    }
    .ultimos-ingresos__articulo a{
        height: 50%;
    }
    .ultimos-ingresos-img{
        height: 100%;
    }
    .ultimos-ingresos__contenedor{
        flex-direction: row;
    }
    .ultimos-ingresos__precio p{
        font-size: 1.6rem;
        color: var(--beige-oscuro);
        font-weight: 600;
    }
    .main__mas-vendido{
        border-radius: 15px 0 15px 0;
    }
    .mas-vendido__contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px 5px;
    }
    .mas-vendido__contenedor a{
        width: 80%;
    }
    .main__mas-vendido article {
        width: 30%;
        height: 250px;
        display: flex;
        margin: 5px auto;
        border: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 2px 2px 9px grey;
    }
    .mas-vendido__imagen {
        border-right: none;
        height: 180px;
       }
       .main__ofertas{
        border-radius: 15px 0 15px 0;
       }
    .main__ofertas article {
        width: 43%;
        border: none;
        box-shadow: 2px 2px 9px grey;
    }
    .menu-burger{
        display: none;
    }
    .ultimos-ingresos__precio h5{
        font-size: 1.5rem;
        color: grey;
    }
    .descuento__contenedor{
        color: var(--violeta-oscuro);
        font-size: 1rem;
    }
 }


/* #######################################desktop################################################ */
@media (min-width: 920px) {
    .header__nav-inferior ul {
        width: 430px;
        font-size: 20px;
    }
    .main__categorias a{
        width: 15%;
        height: 300px;
        border-radius: 30px 0;
    }
    .main__categorias div {
        height: 300px;
        width: 100%;
        border-radius: 30px 0;
    }
    .main__categorias div p {
        text-align: end;
        padding-top: 250px;
        padding-right: 8px;
        font-size: 24px;
    }
    .boton-carrusel-UA{
        display: block;
        font-size: 35px;
        color: #ffffff82;
        background-color: #5240808a;
        border-radius: 50%;
        border-width: 0;
        box-shadow: 0 2px 4px 0 var(--violeta-oscuro);
        cursor: pointer;
        height: 64px;
        outline: 0;
        position: absolute;
        top: 260px;
        width: 64px;
        z-index: 2;
    }
    .boton-carrusel-UA:hover{
        box-shadow: 0px 2px 10px 1px var(--violeta-oscuro);
    }
    .boton-izq-UA{
        display: none;
    }
    .boton-der-UA{
        right: 0;
    }
    .banner__img {
        width: 96%;
        height: 530px;
    }
    .ultimos-ingresos__contenedor {
        display: flex;
        justify-content: center;
        width: 98%;
        height: 600px;
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        transition: all 2s;
    }
    .ultimos-ingresos__carrusel{
        transform:translateX(-102%)  ;
    }
    .ultimos-ingresos__articulo {
        width: 43%;
        height: 80%;
        margin: 0px 4%;
        background-color: var(--blanco);
        box-shadow: 5px 5px 13px 1px grey;
    }
    .main__mas-vendido article{
        height: 350px;
    }
    .mas-vendido__imagen {
        border-right: none;
        height: 230px;
       }
       .mas-vendido__precio p {
        font-size: 1.3rem;
            color: var(--beige-oscuro);
            font-weight: 600;
        }
        .mas-vendido__precio h5{
            font-size: 1.3rem;
            color: grey;
        }
}