@import url(/css/index.css);
@import url(/css/productCart.css);
body {
  margin: 0;
  padding: 0;
}
main {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.login-box {
  margin: auto;
  border: solid #fff 1px;
  display: flex;
  width: 95%;
  height: 95%;
  background-color: black;
  color: #fff;
  padding: 50px 30px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  justify-content: center;
  background: linear-gradient(to bottom, black, #524080);
}
.login-box h1 {
  margin: 0;
  padding: 0 0 35px;
  text-align: center;
  font-size: 30px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.login-box input {
  width: 80vw;
  margin-bottom: 30px;
  border-radius: 5px;
  outline: none;
  height: 40px;
  font-size: 16px;
}

.password {
  border: none;
  border-bottom: 1px solid #fff;

  outline: none;
  height: 40px;
  font-size: 1rem;
}
.email {
  border: none;
  border-bottom: 1px solid #fff;
}
.enviar {
  border: none;
  outline: none;
  height: 40px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  border: solid 1px #fff;
}
.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
.login-box a:hover {
  color: black;
}
.enviar:hover {
  border: solid black 3px;
  color: black;
  transition-duration: 300ms;
}
