@import url(/css/index.css);

.section__profile{
    display: flex;
    background: linear-gradient(to bottom, black, #524080);
    width: 90vw;
    height: 19vw;
    margin: 80px auto;
    padding: 10px;
    border-radius: 40px 8px;
    box-shadow: 3px 3px 10px 0 #000;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
}
.section_imgProfile{
    width: 40%;
}
.contenedor__imgProfile{
    width: 80%;
    height: 28vw;
    margin: 10px auto;
}
.contenedor__imgProfile img{
    object-fit: cover;
    object-position: center;
    border-radius: 60px;
    box-shadow: 2px 2px 9px 0px #999;
}
.section__nameProfile{
    width: 50%;
    padding: 115px 5px;
    display: flex;
    justify-content: flex-start;
}

.section__nameProfile p{
    color: var(--beige-oscuro);
    list-style: none;
    margin: 15px 5px;
    font-size: 10vw;
}
.section__dateProfile{
    display: flex;
    background: linear-gradient(to bottom, black, #524080);
    width: 90vw;
    margin: 85px auto 15px;
    padding: 10px;
    border-radius: 40px 8px;
    box-shadow: 3px 3px 10px 0 #000;
    flex-direction: column;
}
.section__dateProfile p{
    color: var(--blanco);
    font-size: 30px;
    padding: 30px 30px 0;
}
.contenedor__dateProfile{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    margin-right: 14%;
    text-align: justify;
    align-items: flex-end;
}
.contenedor__dateProfile li{
    color: var(--blanco);
    font-size: 24px;
    padding: 18px;
    list-style: none;
}
.contenedor__dateProfile i{
    color: var(--beige-oscuro);
}
.cierre-sesion{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.cierre-sesion button{
    padding: 5px;
    background: transparent;
    border-radius: 15px;
    color: var(--violeta-oscuro);
    border: solid 3px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
