@import url(/css/index.css);

body {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
}

li {
    text-decoration: none;
    list-style: none;
}
.register-box {
    margin: auto;
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    flex-direction: column;
    position: relative;     
    justify-content: center;
    background-color: #524080;
    color: #fff;
    margin-bottom: auto;
}

.fa-id-card-clip {
    color: #fff;
    font-size: 2.73em;
}

.desc-cuenta{
    margin: auto;
    margin-top: 10px;
    border: solid #fff 1px;
    background-color: #dad3ed;
    color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70vw;
    height: 40vh;
    padding: 40px 20px;
}

.desc-cuenta ul {
    padding: 50px 30px;
}

.desc-cuenta li {
    padding: 10px 10px;
}

.datos-cliente {
    margin: auto;
    display: flex;
    width: 90vw;
    height: 90vh;
    background-color: #524080;
    color:#fff;
    padding: 50px 30px;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: auto;
}

.datos-cliente label {
    font-weight: bold;
    display: block;
}

.datos-cliente input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
    height: 5%;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    border-radius: 10%;
}

.create-button button{
    background: #dad3ed;
    color: #524080;
    width: 300px;
    height: 50px;
    border-radius: 10%;
}

.create-button:hover button {
    background-color: #edebd3;
    color: #524080;
    cursor: pointer;
    transition-duration: 400ms;
}

@media (min-width: 768px) {
    .datos-cliente label input{
        display: block;
        width: 80%;
        height: 5%;
        justify-content: center;
    }
}