@import url(/css/index.css);
@import url(/css/productCart.css);


.desc-cuenta li {
    text-decoration: none;
    list-style: none;
}
.register-box {
    margin: auto;
    display: flex;
    width: 95%;
    height: 95%;
    align-items: center;
    flex-direction: column;
    position: relative;     
    justify-content: center;
    background-color: #524080;
    color: #fff;
    margin-bottom: auto;
}

.fa-id-card-clip {
    color: #fff;
    font-size: 2.73em;
}

.desc-cuenta{
    margin: auto;
    margin-top: 10px;
    border: solid #fff 1px;
    background-color: #dad3ed;
    color: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    height: 40%;
    padding: 40px 20px;
}

.desc-cuenta ul {
    padding: 50px 30px;
}

.desc-cuenta li {
    padding: 10px 10px;
}

.datos-cliente {
    margin: auto;
    display: flex;
    width: 90vw;
    height: 90vh;
    background-color: #524080;
    color:#fff;
    padding: 50px 30px;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: auto;
}

.datos-cliente label {
    font-weight: bold;
    display: block;
}

.datos-cliente input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
    height: 5%;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    border-radius: 10%;
}

.create-button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .create-button:hover {
    background-color: #dad3ed;
    color: #fff;
  }

@media (min-width: 685px) {
    .datos-cliente label input{
        display: block;
        width: 80%;
        height: 5%;
        justify-content: center;
    }

    .create-button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
      }
}