<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <title>Allproducts</title>
    <link rel="stylesheet" href="/css/allProducts.css" />
  </head>
  <%- include ("./partials/header") %>
 
  <div class="Filtro-allProducts">
    <form action="">
      <select class="filtro-productos" name="color">
        <option>Todos</option>
        <option>Menor a mayor</option>
        <option>Mayor a menor</option>
        <option>Mas Vendidos</option>
      </select>
    </form>
  </div>
  <body>
    <section class="main__ofertas">
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
      <article>
        <div class="ofertas__imagen">
          <img src="img/alacena.jpg" alt="articulo5" />
        </div>
        <div class="ofertas__precio">
          <h5>Alacena clasica</h5>
          <p class="precio__efectivo">$70000</p>
          <p class="precio__descuento">20% off</p>
        </div>
      </article>
    </section>
    <ul class="bar-nav-productos">
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">6</a></li>
      <li><a href="">7</a></li>
      <li><a href="">8</a></li>
  </ul>
  </body>
  <%- include("./partials/footer") %>
</html>
