<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <enlace href="https: //fonts.googleapis.com/css2? family= Noto+Sans:wght@200 & display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__nav-superior">
            <i class="fa-sharp fa-solid fa-bars menu-burger"></i>
            <div class="contenedor__logo">
                <img src="/img/ejemplo-logo.jpg" alt="logo ejemplo">
            </div>
            <i class="fa-sharp fa-solid fa-cart-plus carrito"></i>  
        </div>
        <div class="contenedor__buscador">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Estoy buscando..">
        </div>
    </header>
    <main>
        <div class="banner-ofertas">
            <p class="banner__descuento">20% off</p>
            <p class="banner__descripcion">Gran variedad de muebles disponibles..</p>
            <button class="banner__boton">Entra y descubrí!!</button>
            <div class="banner__img"><img src="/img/muebles-ej.jpg" alt="imagen mueble-desc"></div>
        </div>
        <section class="main__categorias">
            <div class="categorias__1"><p>Oficina</p></div>
            <div class="categorias__2"><p>Living</p></div>
            <div class="categorias__3"><p>Cocina</p></div>
            <div class="categorias__4"><p>Muebles TV</p></div>
            <div class="categorias__5"><p>Linea Gaming</p></div>
            <div class="categorias__6"><p>Dormitorios</p></div>
        </section>
        <section class="main__ultimos-ingresos">
            <article class="ultimos-ingresos__articulo">
                <img src="" alt="articulo1">
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>