<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header__nav-superior">
            <i class="fa-sharp fa-solid fa-bars menu-burger"></i>
            <div class="contenedor__logo">
                <img src="/img/ejemplo-logo.jpg" alt="logo ejemplo">
            </div>
            <i class="fa-sharp fa-solid fa-cart-plus carrito"></i>  
        </div>
        <div class="contenedor__buscador">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Estoy buscando..">
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>