<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include("./partials/header") %>
<main>
   <div class="login-box"> 
    <ul class="ul_errors"></ul>
    <% if (locals.errors) {
        for (let error in errors){ %>     
            <p style="color: #900"><%= errors[error].msg %></p> 
            <% } } %>

<form  class="datos-login" method="POST" action="/user/login"> 
    <!-- <------Nombre de usuario------> 
<label for="email">e-mail</label> 
<input class="email" name="email"  placeholder="email" >

   <!-- <------contraseña ------> 
    <label for="password" >Contraseña</label>

    <div>
    <input class="password" type="password" name="password" placeholder="Contraseña" >
    <div>
    <input class="enviar" type="submit" value="Iniciar Sesion">
</div>

    <a href="#">¿Perdiste tu contraseña?</a><br>
    <a href="/user/register">¿No tienes Cuenta?</a>
</form>
   </div>
</main>
<%- include("./partials/footer") %>
<script src="/js/loginValidation.js"></script>
</body>
</html>