<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
   <div class="login-box"> 
<a href="#"> <img class="logo" src="img/logo.png" alt="ejemplo-logo"></a>

<form> 
    <!-- <------Nombre de usuario------> 
<label for="email">e-mail</label>
<input class="email" type="email" placeholder="email" required>

   <!-- <------contraseña ------> 
    <label for="password">Contraseña</label>

    <div>
    <input class="password" type="password" placeholder="Contraseña" required>
    <div>
    <input class="enviar" type="submit" value="Loguear">
</div>
    <a href="#">¿Perdiste tu contraseña?</a><br>
    <a href="#">¿No tienes Cuenta?</a>
</form>
   </div>
</body>
</html>