<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include("./partials/header") %>
<main>
   <div class="login-box"> 

<form method="POST" action="/user/login"> 
    <!-- <------Nombre de usuario------> 
<label for="email">e-mail</label>
<input class="email" name="email" type="email" placeholder="email" required>

   <!-- <------contraseña ------> 
    <label for="password" >Contraseña</label>

    <div>
    <input class="password" type="password" name="password" placeholder="Contraseña" required>
    <div>
    <input class="enviar" type="submit" value="Iniciar Sesion">
</div>

    <a href="#">¿Perdiste tu contraseña?</a><br>
    <a href="/user/register">¿No tienes Cuenta?</a>
</form>
   </div>
</main>
<%- include("./partials/footer") %>
</body>
</html>