<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/nosotros.css">
    <%- include ("./partials/head") %>
    
    <title>Allproducts</title>
  </head>
  <%- include ("./partials/header") %>
 
  <body>
    <main>
      <div class="contenedor-card">
  <section class="card-info">
    <div class="head">
      <div class="circulo"></div>
      <div class="imagen">
        <img src="/img/Luciano (2).jpg" alt="">
      </div>
    </div>
      <div class="descripcion">
        <h3>Luciano Verchelli</h3>
        <h4>full Stack dev</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut harum minima facere nobis animi fuga et maxime dolores blanditiis ullam?</p>
      </div>
      <div class="contact">
        <a href="#">hola!</a>
      </div>
    
  </section>
  <section class="card-info">
    <div class="head">
      <div class="circulo"></div>
      <div class="imagen">
        <img src="/img/default-placeholder.png" alt="">
      </div>
    </div>
      <div class="descripcion">
        <h3>Edgar Monroy</h3>
        <h4>full Stack dev</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis debitis quod omnis quis commodi eaque ipsa eius perferendis fugit tenetur?</p>
      </div>
      <div class="contact">
        <a href="#">hola!</a>
      </div>
    
  </section>
  <section class="card-info">
    <div class="head">
      <div class="circulo"></div>
      <div class="imagen">
        <img src="/img/fry.jpg" alt="">
      </div>
    </div>
      <div class="descripcion">
        <h3>Gonzalo Mravicich</h3>
        <h4>full Stack dev</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora, ea magnam fugiat dignissimos voluptatibus perspiciatis praesentium quod facere eaque.</p>
      </div>
      <div class="contact">
        <a href="#">hola!</a>
      </div>
    
  </section>
  
</div>
    </main> 
    <%- include("./partials/footer") %>
    </body>
</html>
