<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/nosotros.css">
    <%- include ("./partials/head") %>
    
    <title>Allproducts</title>
  </head>
  <%- include ("./partials/header") %>
 
  <body>
    <main>
        <h2>Sobre nosotros</h2>
    

    </main> 
    <%- include("./partials/footer") %>
    </body>
</html>
