<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCart.css">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
        <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
        <enlace href="https: //fonts.googleapis.com/css2? family= Noto+Sans:wght@200 & display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="header__nav-superior">
            <i class="fa-sharp fa-solid fa-bars menu-burger"></i>
            <div class="contenedor__logo">
                <img src="/img/logo.png" alt="logo ejemplo">
            </div> 
        </nav>
        
        <nav class="header__nav-inferior">
            <ul class="bar-inferior__izq">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="bar-inferior__der">  
                <li><a href="/register">Registrate </a><i class="fas fa-address-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="header__titulo">
            <h4>Carrito de compras (0)</h4>
        </div>
    </header>
    <main>
        <section class="main__carro-vacio">
        <h2>Tu carrito esta vacio!!</h2> 
        <h4>Agrega productos...</h4>
        <div class="carro-vacio__boton">
        <a href="/"><button>Volver a la tienda</button></a>
        </div>
        </section>
    </main>
    <footer>
        <section class="section__contato">
            <h4>Contacto: </h4>
            <a href="">Preguntas Frecuentes</a>
            <a href="">Terminos y condiciones</a>
            <a href="">Nosotros</a>
        </section>
        <section class="section__redes">
            <h4>Seguinos: </h4>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </section>
        <p class="footer__copiright">GLEMS SRL © 2022. Todos los Derechos Reservados.</p>
    </footer>
</body>
</html>