<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
        <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
        <enlace href="https: //fonts.googleapis.com/css2? family= Noto+Sans:wght@200 & display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>
    <title>GLEMS</title>
</head>
<body>
    <header>
        <nav class="header__nav-superior">
            <i class="fa-sharp fa-solid fa-bars menu-burger"></i>
            <div class="contenedor__logo">
                <a href="/"><img src="/img/logo.png" alt="logo ejemplo"></a>
            </div>
            <a href="/productCart"><i class="fa-sharp fa-solid fa-cart-plus carrito"></i></a>  
        </nav>
        <div class="contenedor__buscador">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Estoy buscando..">
        </div>
        <nav class="header__nav-inferior">
            <ul class="bar-inferior__izq">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="bar-inferior__der">  
                <li><a href="/register">Registrate </a><i class="fas fa-address-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2> Silla de escritorio Consulogo con apoyapiés gamer ergonómica </h2>
            <a href="">
                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                <i class="fa-sharp fa-solid fa-star-sharp"></i>
            </a>
            <div class="contenedor__img-produto">
                <img src="img/silla-gamer.jpg" alt="">
            </div>
            <div class="contenedor-precio">
                <h4>$00000.00</h4>
                <p>En hasta 12 cuotas</p>
            </div>
            <div class="contenedor-botones">
                <button type="button">Boton de compra</button>
                <button type="button">Agregar al carrito</button>
                <a href="">
                    <i class="fa-regular fa-heart"></i>
                    <p>Agregar a favoritos</p>
                </a>
            </div>
        </section>
        <section>
            <h4>Infomación adicional</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora facilis blanditiis labore ducimus sunt quae. Nam, fugit. Quos voluptatem rerum quae cumque mollitia veritatis aperiam ipsa fuga aut ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nulla non voluptatem alias! Aut iure deleniti facere at excepturi. Ipsum dolor possimus nemo corrupti numquam facilis, sint quia saepe molestiae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam, cumque dolore, molestias doloribus, perferendis repellat eaque minima debitis earum accusamus neque ullam ipsam officiis soluta cupiditate optio non. Vero.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque voluptatum laboriosam sapiente nemo quidem perferendis tempora, quos nihil veniam labore reiciendis quaerat blanditiis rerum esse repellat magni nesciunt unde dolorum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. In at, maiores beatae deleniti fuga fugiat quibusdam sunt magni excepturi reiciendis. Quidem itaque tenetur fuga excepturi enim sint a animi alias.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi in voluptates, iure vel quos, enim perspiciatis odio consequatur quo assumenda, voluptatibus asperiores mollitia pariatur deserunt nemo voluptatum culpa temporibus optio?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ex accusamus nisi id impedit ea soluta voluptatum. Similique, deleniti explicabo! Facilis exercitationem eveniet praesentium iste illo eos maxime blanditiis expedita.   
            </p>
            <p>Ver mas</p>
        </section>
        <section>
            <h4>Productos relacionados</h4>
            <article>
                <div class="contenedor__imagen-relacionados">
                    <img src="img/silla-gamer-2.jpg" alt="">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="section__contato">
            <h4>Contacto: </h4>
            <a href="">Preguntas Frecuentes</a>
            <a href="">Terminos y condiciones</a>
            <a href="">Nosotros</a>
        </section>
        <section class="section__redes">
            <h4>Seguinos: </h4>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </section>
        <p class="footer__copiright">GLEMS SRL © 2022. Todos los Derechos Reservados.</p>
    </footer>
</body>
</html>