<!DOCTYPE html>
<html lang="en">
<head>
     <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
    
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="main__carro-vacio">
        <h2>Tu carrito esta vacio!!</h2> 
        <h4>Agrega productos...</h4>
        <div class="carro-vacio__boton">
        <a href="/"><button>Volver a la tienda</button></a>
        </div>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>