<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/productUpdate.css">
</head>
<body>
    <%- include("./partials/header") %>
<main>
    <form class="form__upDate" method="POST" enctype="multipart/form-data" action="/products/productCreate/">
        <h2>Alta de productos</h2>
        <p>
        <input class="form__nombre-producto" type="text" placeholder="Nombre del producto" name="productName" required>
        </p>
        <p class="form__img">
        <label>Imagenes: </label>
        <input type="file" name="image" id="productImage" accept="image/*">
        </p>
        <p class="form_descripcion">
        <label  for="descripcionProducto">Descripción del producto:</label>
        <textarea id="descripcion" name="description" rows="7" cols="40"> </textarea>
        <p>
        <label class="form_categorias" for="selectUpdate">Ingrese la categoria:</label>
        <select  class="form__select-cat" name="category">
            <option value="oficina">Oficina</option>
            <option value="living">Living</option>
            <option value="cocina">Cocina</option>
            <option value="mueblesTV">Muebles TV</option>
            <option value="gaming">Gaming</option>
            <option value="dormitorios">Dormitorios</option>
        </select>
        </p>
        <p>
        <label class="form_color" for="colorProducto">Color:</label>
        <input class="form__color-producto" type="color" name="colors" required>
        </p>
        <p>
        <input type="number" class="form__precio-producto" placeholder="Indique el precio en ars $" name="price" required> 
        <div class="form__offer-contenedor">
            <select   name="offer">
                <option value="true" >Si</option>
                <option value="false" >No</option>
            </p>
            <p>
                <input type="number" name="discount" placeholder="Indique el descuento "> 
            </p>
            </div>
        </p>
        <p class="form__buttom">
        <button type="submit" class="form__enviar">Guardar</button>
        <button type="reset" class="form__borrar">Borrar</button>
        </p>
    </form>

</main>
<%- include("./partials/footer") %>
</body>
</html>