<footer>
    <section class="section__contato">
        <h4>Contacto: </h4>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Terminos y condiciones</a>
        <a href="">Nosotros</a>
    </section>
    <section class="section__redes">
        <h4>Seguinos: </h4>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
    </section>
    <p class="footer__copiright">GLEMS SRL © 2022. Todos los Derechos Reservados.</p>
</footer>