
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <enlace rel="preconectar" href="https://fonts.googleapis.com">
    <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
    <enlace href="https: //fonts.googleapis.com/css2? family= Noto+Sans:wght@200 & display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e073821f55.js" crossorigin="anonymous"></script>
    <title>GLEMS</title>
    <!-- something -->