<header>
    <nav class="header__nav-superior">
       <i class="fa-sharp fa-solid fa-bars menu-burger"></i>
        <div class="contenedor__logo">
            <a href="/"><img src="/img/Logo.png" alt="logo ejemplo"></a>
        </div>
        <a href="products/productCart"><i class="fa-sharp fa-solid fa-cart-plus carrito"></i></a>  
    </nav>
    <form  action="/products/productSearch" method="GET">
        <div class="contenedor__buscador">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Estoy buscando.." name="buscador">
            <button type="submit"></button>
        </div>
    </form>
    <nav class="header__nav-inferior">
        <ul class="bar-inferior__izq">
            <li><a href="">Categorias</a></li>
            <li><a href="">Ofertas</a></li>
            <li><a href="/products/allProducts">Todo</a></li>
            <li><a href="">Nosotros</a></li>
            
        </ul>
        <ul class="bar-inferior__der">
            <li><a href="">Mis compras </a></li>
             <% if (locals.isLogged) { %>
                <li><a href="/products/productCreate">Crear</a></li>
                <div class="perfil-contenedor">
                    <li id="id-Perfil" class="bar-inferior__der-li">
                        <div class="contenedor__img-perfil"><img src="/img/users/<%= locals.User.imageProfile %>" alt=""></div>
                        <a class="boton-perfil"><%= locals.User.firstName %></a>    
                    </li>
                        <form class="datos-contenedor" action="/user/logOut" method="POST">
                            <a href="/user/profile">Perfil</a>
                            <button type="submit">Cerrar sesion</button>
                        </form>
                </div>
            
            <% } else { %> 
                <li><a href="/user/register">Registrate </a><i class="fas fa-address-card"></i></li>
                <li><a href="/user/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
               <% } %> 
        </ul>
    </nav>
</header>